@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root, [data-theme] {
  background-color: black;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
}


 main {
  background: black;}

 @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
} 