@tailwind base;
@tailwind components;
@tailwind utilities;

:root, [data-theme] {
  background-color: black;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
  
}

.container {
  text-align: center; 
  width: 70%; 
}


 main {
  background: black;}

 @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
} 